<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tests.Properties.Settings>
            <setting name="DictsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="IniOraFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="IntoOraFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="EndOraFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="GetDbgMsg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hFrm" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wFrm" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastTrdOra" serializeAs="String">
                <value />
            </setting>
            <setting name="RglTraza" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrdTraza" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrdTrazaFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="RglTrazaFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowDbgMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoTimeMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefID" serializeAs="String">
                <value>MTREF</value>
            </setting>
            <setting name="HumId" serializeAs="String">
                <value>HUMANT</value>
            </setting>
            <setting name="TrdId" serializeAs="String">
                <value>IDXNET</value>
            </setting>
        </Tests.Properties.Settings>
    </userSettings>
</configuration>